{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load upto %}

{% block stylesheet %}
<link href="{% static 'css/resume.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Resume</li>
{% endblock %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col-sm-8 clearfix">
        <img src="{{resume.person.profile_picture.url}}" class="rounded-circle profile-picture"></img>
        {{resume.person.about_me}}
      </div>
      <div class="col-sm-4">
        <div class="card text-center bg-light mx-auto">
          <div class="card-body">
            <p class="card-text">
              <address>
                {{ resume.person.first_name }} {{resume.person.last_name}}
                <sup><small class="text-muted " >{{ resume.person.birth_date|timesince|upto:',' }} old</small></sup> <br />
                {{ resume.person.street_address }} {{ resume.person.street_number }}<br />
                {{ resume.person.postal_code }} <br />
                {{ resume.person.city }} <br />
                <hr />
                <a href="tel:{{ resume.person.phone_number }}">{{ resume.person.phone_number }}</a> <br />
                <a href="mailto:{{ resume.person.email }}">{{ resume.person.email }}</a>
              </address>
            </p>
          </div>
        </div>
      </div>
    </div>

    <hr/>

    <h1><span class="text-info">#</span> About me</h1>
    <div class="ml-5">
    {{resume.person.about_me|linebreaks}}
    </div>

    <h2><span class="text-info ml-5">##</span> Hobbies</h2>
    <ul class="list-inline ml-5">
      {% for hobby in resume.hobbies.all %}
      <li class="list-inline-item">{{ hobby.name }}</li>
      {% endfor %}
    </ul>
    <hr/>

    <h1><span class="text-info">#</span> Skills</h1>
    <div class="card bg-light w-75 ml-5">
      <div class="card-body">
        {% for skill in resume.skills.all%}
        <h4>{{ skill.name }}</h4>
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{skill.level}}%"></div>
        <p class="card-text">{{ skill.detail }}</p>
        {% if not forloop.last %}<hr/>{% endif %}
        {% endfor %}
      </div>
    </div>
    <hr/>

    <h1><span class="text-info">#</span> Education</h1>
    <div class="ml-5">
      {% for study in resume.studies.all %}
        <h4>{{ study.study }} <small class="text-muted text-nowrap"> at {{ study.name }}</small></h4>
        <p class="card-text">
          {{ study.date_start|date:"d.m.Y" }} - {{ study.date_end|date:"d.m.Y" }}
        </p>
        {% if not forloop.last %}<hr/>{% endif %}
      {% endfor %}
    </div>
    <hr/>

    <h1><span class="text-info">#</span> Work history</h1>
    <div class="ml-5">
      {% for work in resume.works.all %}
        <h4>{{ work.title }}<small class="text-muted"> at {{ work.name }}</small></h4>
        <p class="card-text">
          {{ work.date_start|date:"d.m.Y" }} - {{ work.date_end|date:"d.m.Y" }}
        </p>
        {% if not forloop.last %}<hr/>{% endif %}
      {% endfor %}
    </div>

    <br />
    <div class="mb-5 text-center"><h1 class="text-muted">[END OF RESUME]</h1></div>

  </div>


{% endblock %}

{% block javascript %}
<script src="{% static 'js/resume.js' %}"></script>
{% endblock %}
